# Ignore everything
models/
models/**

alignment-handbook/
alignment-handbook/**

dpo/logs/**
dpo/wandb/**
dpo/dataset/**
dpo/data/**

lightning-dpo/phi-3-mini/**
lightning-dpo/local_datasets/**

sft/data/**
sft/dataset/**
sft/logs/**
sft/model_cache/**
sft/wandb/**
